.mdc-typography--display4{
    font-family: 'Pacifico', cursive;
    color: lightpink;
}

.mdc-typography--display2{
    font-family: 'Pacifico', cursive;
}

.mdc-typography--display1{
    font-family: 'Pacifico', cursive;
}

.element-card {
/*  width: 17em; */
  margin: 17px;
    background-image: url(../img/fundo.jpg);
}

.element-card > .mdc-card__media {
  height: 7em;
   background-image: url(../img/fundo.jpg);
 
}

.mdc-card__supporting-text > a {
    text-decoration: none;
}

body{
    background-image: url(../img/fundo.jpg);
    background-size: auto;    
}